<section id="about" class="lg:px-62 py-10 px-6 md:py-12 md:px-10 lg:py-16">
  <div class="mx-auto max-w-3xl font-heading">
    <h2 class="mb-4 text-3xl font-bold font-bold md:mb-8 md:text-6xl">
      Про фонд
    </h2>
    <p class="text-sm leading-6 md:text-lg">
      Ми — команда однодумців-патріотів, як звичайні волонтери, донори,
      допомагали Армії, ще з початку затяжної восьмирічної війни, ще тоді коли
      агресор почав окупацію Криму та Донбасу. Саме тоді у 2014 році ми
      зрозуміли, яка б не була допомога, вона є вкрай необхідна.
      <br />
      <br />
      Після повномасштабного вторгнення в Україну нашою метою стала допомога окремим
      підрозділам ЗСУ за їх потребами. Кожен день війни лише підкреслював необхідність
      розширення нашої діяльності, бо елементарні речі, такі як медичні засоби для
      населення - це вкрай необхідна допомога під час війни. В один момент стало
      зрозуміло, що самі не впораємось та нам необхідна допомога, як донорська, так
      і волонтерська. Нашою, тепер вже командою було прийнято рішення про відкриття
      Благодійного Фонду «ПЕРЕХРЕСТЯ МРІЙ». Ми впевненні, що наразі це правильне
      рішення та ми ще більше зможемо допомагати не тільки ЗСУ, а й нашому рідному
      місту Харкову. Слід зазначити, що наш головний офіс знаходиться в місті Харків,
      це місто, яке з перших хвилин війни та й досі під щільним вогнем. Ми знаємо,
      як жити в війну.
    </p>
  </div>
</section>
