---
import { t } from 'i18next';
---

<section id="about" class="lg:px-62 py-10 px-6 md:py-12 md:px-10 lg:py-16">
  <div class="mx-auto max-w-3xl font-heading">
    <h2 class="mb-4 text-3xl font-bold font-bold md:mb-8 md:text-6xl">
      {t('about.title')}
    </h2>
    <p class="text-sm leading-6 md:text-lg">
      {t('about.description')}
    </p>
  </div>
</section>
