---
import { t } from 'i18next';
import Coordinator from './Coordinator.astro';
---

<section class="lg:px-62 px-6 pb-20 md:px-10 md:pb-12 lg:py-16">
  <div class="container mx-auto flex flex-col">
    <h2 class="mx-auto mb-8 text-3xl font-bold md:mb-12 md:text-6xl">
      {t('coordinators.title')}
    </h2>
    <div
      class="mx-auto grid w-full grid-cols-[repeat(auto-fit,_minmax(250px,_1fr))] place-items-center gap-8 lg:gap-4"
    >
      {
        t('coordinators.items', { returnObjects: true }).map((item) => (
          <Coordinator
            name={item.name}
            position={item.label}
            phone={item.phone}
            image={item.image}
          />
        ))
      }
    </div>
  </div>
</section>
