---
import { t } from 'i18next';

import {
  DetailsBlock1,
  DetailsBlock2,
  DetailsBlock3,
} from './DetailsBlock.tsx';
---

<section id="directions" class="py-20 px-6 md:py-12 md:px-0 lg:px-0 lg:py-16">
  <div class="container mx-auto flex flex-col lg:max-w-none">
    <h2
      class="mx-auto mb-8 font-heading text-3xl font-bold md:mb-12 md:text-6xl"
    >
      {t('directions.title')}
    </h2>
    <div
      class="mx-auto grid w-full max-w-[500px] auto-rows-[300px] grid-cols-[minmax(250px,1fr)] place-content-center md:auto-rows-[480px] lg:max-w-none lg:grid-cols-3"
    >
      <DetailsBlock1 client:idle className="pt-15 justify-center" />
      <DetailsBlock2 client:idle className="pt-15 justify-center" />
      <DetailsBlock3 client:idle className="pt-15 justify-center" />
    </div>
  </div>
</section>
