---
import DetailsBlock, {
  DetailsBlock1,
  DetailsBlock2,
  DetailsBlock3,
} from './DetailsBlock.tsx';
---

<section id="directions" class="lg:px-62 py-20 px-6 md:py-12 md:px-10 lg:py-16">
  <div class="container mx-auto flex flex-col">
    <h2
      class="mx-auto mb-8 font-heading text-3xl font-bold font-bold md:mb-12 md:text-6xl"
    >
      Напрямки діяльності
    </h2>
    <div
      class="mx-auto grid w-full max-w-7xl grid-cols-[minmax(250px,380px)] place-content-center lg:grid-cols-3"
    >
      <DetailsBlock1 client:idle />
      <DetailsBlock2 client:idle />
      <DetailsBlock3 client:idle />
    </div>
  </div>
</section>
