---
import { t } from 'i18next';
import FAQItem from '../components/FAQItem.tsx';
---

<section class="lg:px-62 bg-gray-300 px-6 py-20 md:px-10 md:py-12 lg:py-16">
  <div class="mx-auto flex max-w-5xl flex-col">
    <h2
      class="mx-auto mb-8 font-heading text-3xl font-bold md:mb-12 md:text-6xl"
    >
      {t('faq.title')}
    </h2>
    <div>
      <div>
        <FAQItem title={t('faq.items.0.question')} client:idle>
          {t('faq.items.0.answer')}
        </FAQItem>
        <FAQItem title={t('faq.items.1.question')} client:idle>
          {t('faq.items.1.answer')}
        </FAQItem>
      </div>
    </div>
  </div>
</section>
