---
import FAQItem from '../components/FAQItem.tsx';
---

<section class="lg:px-62 bg-gray-300 px-6 py-20 md:px-10 md:py-12 lg:py-16">
  <div class="mx-auto flex max-w-5xl flex-col">
    <h2
      class="mx-auto mb-8 font-heading text-3xl font-bold font-bold md:mb-12 md:text-6xl"
    >
      Питання і відповіді
    </h2>
    <div>
      <div>
        <FAQItem title="Як я можу допомогти?" client:visible>
          Ми потребуємо фінансової або гуманітарної допомоги. Гуманітарна
          допомога може складатися з продуктів харчування та засобів гігієни для
          цивільного населення, з військової амуніції для наших захисників або
          медикаментів для постраждалих від військової агресії Російської
          Федерації.
        </FAQItem>
        <FAQItem
          title="Я хочу надати гуманітарний вантаж, як це зробити?"
          client:visible
        >
          Ми потребуємо фінансової або гуманітарної допомоги. Гуманітарна
          допомога може складатися з продуктів харчування та засобів гігієни для
          цивільного населення, з військової амуніції для наших захисників або
          медикаментів для постраждалих від військової агресії Російської
          Федерації.
        </FAQItem>
      </div>
    </div>
  </div>
</section>
