<section class="lg:px-62 py-20 px-6 md:py-12 md:px-10 lg:py-16">
  <div class="container mx-auto flex flex-col">
    <h2 class="mx-auto mb-8 text-3xl font-bold font-bold md:mb-12 md:text-6xl">
      Необхідні товари
    </h2>
    <div
      class="mx-auto flex max-w-6xl flex-wrap justify-center gap-y-8 gap-x-10 text-lg font-bold md:gap-x-28"
    >
      <div
        class="flex max-w-[130px] shrink-0 basis-48 flex-col items-center text-center"
      >
        <img src="/apple.svg" alt="" />
        <span>Продукти харчування</span>
      </div>
      <div
        class="flex max-w-[130px] shrink-0 basis-48 flex-col items-center text-center"
      >
        <img src="/drop.svg" alt="" />
        <span>Засоби гігієни</span>
      </div>
      <div
        class="flex max-w-[130px] shrink-0 basis-48 flex-col items-center text-center"
      >
        <img src="/gas-pump.svg" alt="" />
        <span>Паливо</span>
      </div>
      <div
        class="flex max-w-[130px] shrink-0 basis-48 flex-col items-center text-center"
      >
        <img src="/flash.svg" alt="" />
        <span>Генератори</span>
      </div>
      <div
        class="flex max-w-[130px] shrink-0 basis-48 flex-col items-center text-center"
      >
        <img src="/wall.svg" alt="" />
        <span>Будівельні матеріали</span>
      </div>
      <div
        class="flex max-w-[130px] shrink-0 basis-48 flex-col items-center text-center"
      >
        <img src="/rocket.svg" alt="" />
        <span>Військове спорядження</span>
      </div>
      <div
        class="flex max-w-[130px] shrink-0 basis-48 flex-col items-center text-center"
      >
        <img src="/briefcase.svg" alt="" />
        <span>Медичне обладнання</span>
      </div>
    </div>
  </div>
</section>
