---
import { t } from 'i18next';
---

<section class="lg:px-62 py-20 px-6 md:py-12 md:px-10 lg:py-16">
  <div class="container mx-auto flex flex-col">
    <h2
      class="mx-auto mb-8 font-heading text-3xl font-bold md:mb-12 md:text-6xl"
    >
      {t('goods.title')}
    </h2>
    <div
      class="mx-auto flex max-w-6xl flex-wrap justify-center gap-y-8 gap-x-10 text-lg font-bold md:gap-x-28"
    >
      {
        t('goods.items', { returnObjects: true }).map(({ title, iconSrc }) => (
          <div class="flex max-w-[130px] shrink-0 basis-48 flex-col items-center text-center font-heading">
            <img src={iconSrc} alt={title} />
            <span>{title}</span>
          </div>
        ))
      }
    </div>
  </div>
</section>
