---
import {
  DetailsBlock1,
  DetailsBlock2,
  DetailsBlock3,
} from './DetailsBlock.tsx';
---

<section class="flex justify-end">
  <div
    class="relative w-full max-w-[1440px] px-3 pt-[55vw] sm:px-5 md:px-0 md:pt-0"
  >
    <img
      src="/images/banner.webp"
      alt=""
      class="absolute top-0 left-0 w-full md:right-0 md:left-auto md:h-full md:w-auto"
    />
    <div
      class="grid grid-cols-[minmax(250px,380px)] justify-center md:grid-cols-[repeat(2,minmax(250px,360px))] md:justify-start min-[1080px]:grid-cols-[repeat(3,minmax(250px,360px))]"
    >
      <div class="hidden min-[1080px]:block"></div>
      <DetailsBlock1 client:idle className="w-full h-full" />
      <figure
        class="relative row-start-2 hidden h-full w-full overflow-hidden min-[1080px]:block"
      >
        <img src="/images/hero-img-1.png" alt="" class="" />
      </figure>
      <DetailsBlock2 client:idle className="w-full h-full row-start-2" />
      <DetailsBlock3
        client:idle
        className="w-full h-full md:row-start-2 min-[1080px]:col-start-3"
      />
    </div>
  </div>
</section>
