---
import Form from './Form.astro';
import Requisites from './Requisites.tsx';
---

<section id="join" class="lg:px-62 px-6 py-10 md:px-10 md:py-12 lg:py-20">
  <div class="container mx-auto flex flex-col">
    <h2
      class="mx-auto mb-20 border-b-4 border-primary-yellow pb-4 font-heading text-3xl font-bold font-bold md:mb-12 md:text-6xl"
    >
      Долучитись
    </h2>
    <div class="mx-auto max-w-2xl">
      <Requisites client:visible />
      <Form />
    </div>
  </div>
</section>
