<section class="lg:px-62 px-6 pb-20 md:px-10 md:pb-12 lg:py-16">
  <div class="container mx-auto flex flex-col">
    <h2
      class="mx-auto mb-8 font-heading text-3xl font-bold font-bold md:mb-12 md:text-6xl"
    >
      Партнери
    </h2>
  </div>
  <div class="flex justify-center gap-20">
    <div class="item-center flex flex-col text-center">
      <img
        src="/images/layer-1-logo.svg"
        class="mb-4 block max-h-28"
        alt="Layer 1"
      />
      <span class="">Дата центр</span>
    </div>
    <div class="item-center flex flex-col text-center">
      <img
        src="/images/kharkiv-logo.svg"
        class="mb-4 block max-h-28"
        alt="Харківська міська рада"
      />
      <span class="">Харківська міська рада</span>
    </div>
  </div>
</section>
